.listOrderContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.searchInputSide {
  display: flex;
  justify-content: flex-end;
  margin: 80px 14% 20px 0;
}

.searchInput {
  width: 15%;
  margin-right: 20px;
}